@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #00061a;
    padding-right: 15px; /* Ajouté pour éviter le dépassement */
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

header {
    background: #333;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 30px; /* Augmenter l'espacement entre les éléments du menu */
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.3rem; /* Augmenter la taille de la police */
    transition: background 0.3s;
}

header nav a:hover {
    background: #555;
}

.slider {
    width: 100%;
    height: 100vh; /* Prendre toute la hauteur de la vue */
    background: #000;
    position: relative;
}

.slider-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(35%);
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 5rem;
    margin-bottom: 20px; /* Ajouté pour espacement */
}

h2 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 90px;
}

p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.slider-content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px; /* Ajouté pour espacement */
}

.section {
    padding: 60px 0;
}

.boxed {
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dark {
    background: #fff;
    color: #000;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.w25 {
    width: 25%;
}

.skill, .project {
    background: #1d2433;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.skill:hover, .project:hover {
    transform: scale(1.05);
}

.skill img, .project img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.skill h3, .project h3 {
    color: #fff;
    margin-top: 20px;
}

.white-text {
    color: #fff;
}

.black-text {
    color: #000;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}
